/* Put your CSS here */
.ember-application {
    margin: 20px;
}

*, *:after, *:before{
  box-sizing: border-box;
}
.calendar-wr {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 800px;
  padding: 5px;
  margin: 40px auto;
}
.calendar{
  width: 100%;
}
.calendar th,
.calendar td {
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  transition: all 200ms;
  font-size: 30px;
  color: #000;
}
.prev,
.next {
  font-size: 21px;
}
.old {
  color: #999;
}
.active {
  color: #fff;
  background: #75bae8;
}
.day.active:hover {
  background: #65eaea;
}
.day.today {
  background: green;
}
.calendar-header tr:first-child th:hover,
.day:hover {
  cursor: pointer;
  background: #eee;
}