<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    
  <script type="text/x-handlebars" data-template-name="day">
    
    <div class="calendar-wr">
      <table class="calendar">
        
        <thead>
         <caption>
           <h1 style="font-size: 40px; color: Blue;">Calendar</h1>
         </caption>
          <tr>
          
            <th colspan="7">
              <button {{action 'prevYear'}} class="btn btn-default glyphicon glyphicon-arrow-left btn-lg"></button>
              <button {{action 'prevMonth'}} class="btn btn-default glyphicon glyphicon-chevron-left btn-lg"></button>
              <label id="day">{{day}}</label>
              <label id="month">{{format-month month}}</label>
              <label id="year">{{year}}</label>
              <button {{action 'nextMonth'}} class="btn btn-default glyphicon glyphicon-chevron-right btn-lg"></button>
              <button {{action 'nextYear'}} class="btn btn-default glyphicon glyphicon-arrow-right btn-lg"></button>
            </th>
            
          </tr>
          <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><button class="btn btn-default btn-lg" {{action 'toDay'}}>To day</button></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
        <tbody class="calendar-body">
          
            {{#each week in weeks}}
            <tr>
              {{#each day in week}}
                <td {{bind-attr class="day.isDay:day day.isActive:active day.isToday:today"}} {{action 'select' day}}>{{day.title}}</td>
              {{/each}}
            </tr>
          {{/each}}
          
        </tbody>
      </div>
     </table>
     
  </script>
  
  <script src="js/libs/jquery-2.1.1.min.js"></script>
  <script src="js/libs/handlebars-v1.3.0.js"></script>
  <script src="js/libs/ember-1.5.1.js"></script>
  
  <script src="js/application.js"></script>
  <script src="js/router.js"></script>
  <script src="js/controllers/calendar_controller.js"></script>
  <script src="js/helpers/calendar_helpers.js"></script>

</body>
</html>


